<header class="app-header">
    <div class="logo">
      <!-- Replace with your actual logo image -->
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <nav class="navbar">
      <ul>
        <li><a routerLink="/">Acceuil</a></li>
        <li><a routerLink="/about">Evenements</a></li>
        <li><a routerLink="/services">Tutoriels</a></li>
        <li><a routerLink="/contact">Open Source</a></li>
        <li><a routerLink="/opportunites">Opportunités</a></li>
      </ul>
    </nav>
  </header>
  
