<div>
<div class="footer-main">
    <img src="../../assets/muuganobg.png" alt="Logo mugga">
    <div class="navigation">
        <h3>Notre menu</h3>
        <ul>
            <li><a href="#apropos">A propos</a></li>
            <li><a href="#events">Evènements</a></li>
            <li><a href="#tutoriels">Tutoriels</a></li>
            <li><a href="#opensource">Open source</a></li>
            <li><a href="#opportunite">Opportunités</a></li>
        </ul>
    </div>
    <div class="nos-contactes">
        <h3>Nos contacts</h3>
        <p>Vous pouvez nous contacter à tout moment</p>
        <ul>
            <li><i class="fa-solid fa-location-dot"></i><a href="#">Libreville, Gabon</a></li>
            <li><i class="fa-solid fa-phone"></i><a href="tel:+243 810 000 000">+241 65128839</a></li>
            <li><i class="fa-solid fa-envelope"></i><a href="mailto:muggacommunaute&#64;outlook.com">muggacommunaute&#64;outlook.com</a></li>
        </ul>
    </div>
    <div class="reseau-sauciaux">
        <h3>Nos réseaux sociaux</h3>
        <p>Abonnez-vous, likez et partagez</p>
        <a href="https://www.linkedin.com/company/94242520" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/muggacommunaute?s=21&t=4wImVvtZU0Bj_SpXiX9ssA" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://twitter.com/muggacommunaute?s=21&t=4wImVvtZU0Bj_SpXiX9ssA" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-meta"></i></a>
        <a href="https://www.youtube.com/@muggacommunaute" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2024 MUGGA. Tous droits réservés.</p>
</div>

</div>
