.gradient-background {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,102,9,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .gradient-background h1, h2{
    margin: 0;
    font-size: 1.5em;
    margin-right: 100px;
  font-family: "Merriweather Sans", sans-serif;
  }
  
  .gradient-background p {
    margin-top: 10px;
  }
  
  .logo-picture {
    width: 500px;
    height: 500px;
    display: block;
    margin-top: 50px;
  }

  .text-class {
    color: white;
    font-size: 1.5em;
    padding-top: 100px;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 50px;
    cursor: pointer;
  }
